# Compiled output
dist

# Dependencies
node_modules

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Dev output
dev
log

# System files
*lock.json
*.lock
*.log
.DS_Store
Thumbs.db
