:host {
  flex: auto;
  display: flex;
  flex-direction: column;
  width: 100%; height: 100%;
}

.header {
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  align-items: flex-end;
  padding: 65px 60px 18px;
  z-index: 9;
  background-color: rgba(#fff, 0.8);
  transition: box-shadow 0.3s, transform 0.5s;

  &-sticked {
    box-shadow: 0 0 12px rgba(#000, 0.2);
  }

  &-hide {
    transform: translateY(-100%);
  }

  &-title {

    a {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    img {
      width: auto; height: 52px;
      object-fit: contain;
    }

    h5 {
      margin-top: 14px;
      font: {
        size: 11px;
        weight: 300;
      }
      letter-spacing: 0.3px;
    }

  }

  &-nav {
    margin: {
      left: 40px;
      bottom: 8px;
    }
    display: flex;

    &-button {

      &-container {
        padding: 0 50px;

        &:not(:first-child) {
          border-left: solid 1px #000;
        }

      }

      display: block;
      line-height: 0.8;
      font: {
        size: 20px;
        weight: 400;
      }
      letter-spacing: -0.2px;
      position: relative;

      &-active {
        position: absolute;
        bottom: -8px; left: 0;
        width: 100%; height: 2px;
        background-color: var(--color-chamfer-green);
      }

    }

  }

}

.content {
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 24px 0;
}

.footer {
  width: 100%;
  min-height: calc(54px * 3);
  padding: 54px 50px;
  position: relative;

  &-text {
    display: block;
    text-align: center;
    font: {
      size: 20px;
      weight: 400;
    }
    color: #979797;
    line-height: 1.4;
    white-space: pre-line;
  }

  &-icon {
    position: absolute;
    top: 54px; right: 50px;
    height: 54px;

    img {
      height: 100%;
      object-fit: contain;
    }

  }

}
