<header
  #header
  class="header"
  [class.header-sticked]="!onTop && !headerShouldHide"
  [class.header-hide]="headerShouldHide"
>

  <h1 class="header-title">
    <a routerLink="/">
      <img src="assets/images/header-logo.png" alt="CHAMFER. Chamfer not only cuts off the coners but also our clumsy bits">
    </a>
  </h1>

  <nav class="header-nav">
    <swiper
      class="header-nav-slide-container"
      slidesPerView="auto"
      [watchOverflow]="true"
      slideClass="header-nav-slide"
    >
      <ng-template swiperSlide *ngFor="let data of linkDatas">
        <div class="header-nav-button-container">
          <a
            class="header-nav-button"
            [routerLink]="data.link"
          >
            {{ data.label }}
            <span
              *ngIf="currentNavId === data.id"
              class="header-nav-button-active"
              @navActiveAnimation
            ></span>
          </a>
        </div>
      </ng-template>
    </swiper>
  </nav>

</header>

<div class="content" [@routeAnimation]="getRouteState(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>

<footer class="footer">

  <a class="footer-icon" href="https://www.instagram.com/chamfer_design/">
    <img src="assets/images/footer-logo.png" alt="@CHAMFER">
  </a>

  <span class="footer-text" [innerHTML]="siteInfo.footerText"></span>

</footer>
