<section class="site-section">

  <h2 class="site-section-title">메인 미디어 설정</h2>

  <form class="site-form" [formGroup]="layoutForm" (ngSubmit)="save()">

    <button
      class="site-form-submit"
      type="submit"
      mat-raised-button
      [disabled]="!canSave()"
      color="primary"
    ><mat-icon>save</mat-icon> 저장</button>

    <mat-form-field class="site-form-item">
      <mat-label>미디어 URL</mat-label>
      <input matInput formControlName="mediaURL">
    </mat-form-field>

    <div class="site-form-item">
      <mat-slide-toggle formControlName="mediaActive">노출</mat-slide-toggle>
    </div>

  </form>

</section>
