:host {
  display: block;
  width: 100%;
  padding: 0 52px;
}

.about {

  &-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #f8f7f7;
    padding: 0 106px;
  }

  &-image {

    &-container {
      width: 100%;
      max-width: 1580px;
      margin-top: 186px;
    }

    &-wrapper {
      width: 100%;
      position: relative;
      padding-bottom: 8.8%;
    }

    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    display: flex;
    justify-content: space-between;

    img {
      width: auto; height: 100%;
      object: {
        fit: contain;
        position: center center;
      }
    }

  }

  &-content {
    max-width: 1228px;
    margin: 186px 0;
    padding: 32px 108px 32px 32px;
    background-image: linear-gradient(225deg, transparent 50px, var(--color-chamfer-green) 50px);
    color: #fff;

    &-title {
      font: {
        size: 32px;
        weight: 500;
      }
      letter-spacing: 0.4px;
    }

    &-subtitle {
      font: {
        size: 28px;
        weight: 400;
      }
      letter-spacing: 0.4px;
      margin: {
        top: 12px;
        left: 12px;
      }
    }

    &-description {
      margin-top: 56px;
      font: {
        size: 18px;
        weight: 500;
      }
      color: #dedede;
      text-align: justify;
      letter-spacing: 1px;
      line-height: 1.5;
    }

  }

}


@media (max-width: 1280px) {

  .about {

    &-box {
      padding: 0 100px;
    }

    &-image {

      &-container {
        margin-top: 114px;
        max-width: 440px;
      }

      &-wrapper {
        padding: 0;
      }

      position: relative;
      top: auto; left: auto;
      height: auto;
      flex-direction: column;
      justify-content: flex-start;

      img {
        width: 100%; height: auto;

        &:not(:first-of-type) {
          margin-top: 140px;
        }

      }

    }

    &-content {
      margin: 142px 0 114px;
      padding: 12px 46px 12px 12px;
      background-image: linear-gradient(225deg, transparent 38px, var(--color-chamfer-green) 38px);

      &-title {
        font-size: 20px;
        letter-spacing: 0.2px;
      }

      &-subtitle {
        font-size: 18px;
        letter-spacing: 0.2px;
      }

      &-description {
        margin-top: 52px;
        font-size: 14px;
        letter-spacing: 0.6px;
      }

    }

  }

}


@media (max-width: 768px) {

  :host {
    padding: 0;
  }

  .about {

    &-box {
      padding: 0 24px;
    }

    &-image {

      img {

        &:not(:first-of-type) {
          margin-top: 60px;
        }

      }

    }

    &-content {
      margin: 112px 0 54px;

      &-title {
        font-size: 18px;
      }

      &-subtitle {
        font-size: 16px;
      }

      &-description {
        margin-top: 40px;
        font-size: 12px;
      }

    }

  }

}
