<div class="about-box">
  <div class="about-image-container">
    <div class="about-image-wrapper">
      <div class="about-image">
        <img src="assets/images/chamfer_about_01.png" />
        <img src="assets/images/chamfer_about_02.png" />
        <img src="assets/images/chamfer_about_03.png" />
      </div>
    </div>
  </div>

  <div class="about-content">
    <h3 class="about-content-title">
      "Chamfer not only cuts off the coners but also our clumsy bits."
    </h3>
    <h4 class="about-content-subtitle">
      챔퍼는 모서리뿐만 아니라 우리의 모난 부분 또한 깎아냅니다.
    </h4>

    <p class="about-content-description">
      3D 모델링 프로그램에서 챔퍼(chamfer)라는 기능을 실행하면 각진 모서리가
      사선으로 깎아집니다. 모깎기라고도 불리는 이 기능은 제품을 마감하는 방법 중
      하나로, 모서리를 둥글게 처리하는 필렛(fillet)이라는 기능과 달리 일반적으로
      사용되지는 않지만 명확하고 단정한 이미지를 연출하는 매력이 있습니다.
      챔퍼는 그래서 다르게 또 바르게 디자인하는 브랜드이며 단순하면서 이색적인,
      유용하면서 아름다운, 낯설지만 정감있는 디자인을 제시합니다.
    </p>
  </div>
</div>
